// Font-Size
$base-font-size: 1.12em;

// Line-Height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Breakpoints
// Mobile
// @media only screen and (min-width : 320px) {}
/* Extra Small Devices, Phones */ 
// @media only screen and (min-width : 480px) {}
/* Small Devices, Tablets */
// @media only screen and (min-width : 768px) {}
/* Medium Devices, Desktops */
// @media only screen and (min-width : 992px) {}
/* Large Devices, Wide Screens */
// @media only screen and (min-width : 1200px) {}

// Non Mobile
// @media only screen and (max-width : 1200px) {}
/* Medium Devices, Desktops */
// @media only screen and (max-width : 992px) {}
/* Small Devices, Tablets */
// @media only screen and (max-width : 768px) {}
/* Extra Small Devices, Phones */ 
// @media only screen and (max-width : 480px) {}
/* Custom, iPhone Retina */ 
// @media only screen and (max-width : 320px) {}

$bp-xxsmall: 320px; // 320px
$bp-xsmall: 480px; // 480px
$bp-small: 768px; // 768px
$bp-medium: 1024px; // 1024px
$bp-large: 1366px; // 1366px
$bp-xlarge: 1920px; // 1920px
$bp-xxlarge: 2560px; // 2560px

// Media Queries
$mq-xxsmall: "(min-width: #{$bp-xxsmall})";
$mq-xsmall: "(min-width: #{$bp-xsmall})";
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
